:root {
  --black: black;
  --white-opacity-60: rgba(255, 255, 255, .6);
  --white: white;
  --white-opacity-12: rgba(255, 255, 255, .12);
  --white-opacity-8: rgba(255, 255, 255, .08);
  --accent: #2fe784;
  --accent-hover: #4dffa2;
  --accent-opacity-12: rgba(47, 231, 132, .12);
  --accent-opacity-18: rgba(47, 231, 132, .18);
  --green-light-1: #c2decf;
  --yellow-light: #fde680;
  --blue-light-1: #c0ddff;
  --green-dark: #246241;
  --black-opacity-60: rgba(0, 0, 0, .6);
  --green-light-2: #def1e7;
  --blue-dark: #39608e;
  --blue-light-2: #e2eefc;
  --yellow-dark: #815d00;
  --white-opacity-40: rgba(255, 255, 255, .4);
  --black-opacity-20: rgba(0, 0, 0, .2);
  --black-opacity-50: rgba(0, 0, 0, .5);
  --white-opacity-16: rgba(255, 255, 255, .16);
  --purple-light-1: #d5c6ff;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: var(--white-opacity-60);
  letter-spacing: -.09px;
  font-family: Figtree, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 144%;
}

h1 {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Clashdisplay, sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 112%;
}

h2 {
  letter-spacing: -1.024px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 600;
  line-height: 104%;
}

h3 {
  letter-spacing: -.896px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 56px;
  font-weight: 600;
  line-height: 104%;
}

h4 {
  letter-spacing: -.7px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 600;
  line-height: 104%;
}

h5 {
  letter-spacing: -.512px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 104%;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

.section.hero {
  height: 100vh;
  min-height: 760px;
  flex-direction: column;
  padding-bottom: 0;
  display: flex;
}

.section.section-padding {
  padding-bottom: 88px;
}

.section._404 {
  height: 100vh;
  min-height: 760px;
  flex-direction: column;
  align-items: stretch;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding-left: 96px;
  padding-right: 96px;
}

.container.hero {
  flex-direction: column;
  flex: 1;
  padding-top: 24px;
  padding-bottom: 40px;
  display: flex;
}

.container._404 {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav {
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav.internal-page {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  margin-top: 24px;
}

.nav-logo {
  width: 108px;
  height: auto;
}

.nav-menu-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  align-items: center;
  display: flex;
}

.nav-menu-item {
  letter-spacing: -.14px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 144%;
  transition: color .25s cubic-bezier(.445, .05, .55, .95);
}

.nav-menu-item:hover, .nav-menu-item:focus {
  color: var(--white-opacity-60);
}

.nav-logo-menu-wrapper {
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  align-items: center;
  display: flex;
}

.button {
  letter-spacing: -.18px;
  border-radius: 100px;
  padding: 18px 32px;
  font-weight: 600;
}

.button.small {
  letter-spacing: -.14px;
  padding: 12px 22px;
  font-size: 14px;
  line-height: 144%;
}

.button.small.secondary {
  border: 1px solid var(--white-opacity-12);
  background-color: var(--white-opacity-8);
  transition: transform .2s cubic-bezier(.445, .05, .55, .95), background-color .2s cubic-bezier(.445, .05, .55, .95);
}

.button.small.secondary:hover, .button.small.secondary:focus {
  background-color: var(--white-opacity-12);
}

.button.primary {
  background-color: var(--accent);
  color: var(--black);
  transition: transform .2s cubic-bezier(.445, .05, .55, .95), background-color .2s cubic-bezier(.445, .05, .55, .95);
}

.button.primary:hover {
  background-color: var(--accent-hover);
  transform: scale(.97);
}

.button.primary:focus {
  background-color: var(--accent-hover);
}

.button.secondary {
  border: 1px solid var(--white-opacity-12);
  background-color: var(--white-opacity-8);
  color: var(--white);
  transition: transform .2s cubic-bezier(.445, .05, .55, .95), background-color .2s cubic-bezier(.445, .05, .55, .95);
}

.button.secondary:hover {
  background-color: var(--white-opacity-12);
  transform: scale(.97);
}

.button.secondary:focus {
  background-color: var(--white-opacity-12);
}

.hero-content-wrapper {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
}

.hero-content {
  width: 100%;
  max-width: 1064px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.link-chips {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--accent-opacity-12);
  border-radius: 100px;
  align-items: center;
  padding: 12px 22px;
  transition: background-color .25s cubic-bezier(.445, .05, .55, .95);
  display: flex;
}

.link-chips:hover, .link-chips:focus {
  background-color: var(--accent-opacity-18);
}

.semibold-s {
  letter-spacing: -.14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 144%;
}

.text-color-accent {
  color: var(--accent);
}

.icon-size-12 {
  width: 12px;
  height: 12px;
}

.center-text {
  text-align: center;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.regular-l.faq-text {
  max-width: 720px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.text-color-white {
  color: var(--white);
}

.max-width-752-tablet-560 {
  max-width: 752px;
}

.vertical-flex-center {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.hero-buttons-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.regular-xs {
  letter-spacing: -.06px;
  font-size: 12px;
  line-height: 144%;
}

.regular-xs.dark-bg-link {
  color: var(--white-opacity-60);
  transition: color .2s cubic-bezier(.445, .05, .55, .95);
}

.regular-xs.dark-bg-link:hover, .regular-xs.dark-bg-link:focus {
  color: var(--white);
}

.max-width-752-tablet-400 {
  max-width: 752px;
}

.hero-illustration-2 {
  width: 200px;
  height: auto;
  position: absolute;
  top: auto;
  bottom: -120px;
  left: auto;
  right: -40px;
}

.hero-illustration-1 {
  width: 200px;
  height: auto;
  position: absolute;
  top: auto;
  bottom: -120px;
  left: -40px;
  right: auto;
}

.container-small {
  max-width: 1040px;
  padding-left: 48px;
  padding-right: 48px;
}

.section-heading {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-radius: 40px;
  flex-direction: column;
  padding: 104px;
  display: flex;
}

.section-heading.green-light-1 {
  background-color: var(--green-light-1);
}

.section-heading.margin-bottom-16-mobile-12.yellow-light {
  background-color: var(--yellow-light);
}

.section-heading.margin-bottom-16-mobile-12.blue-light-1 {
  background-color: var(--blue-light-1);
}

.section-heading.margin-bottom-16-mobile-12.black {
  background-color: var(--black);
}

.text-color-black {
  color: var(--black);
}

.max-width-640-tablet-520-mobile-320 {
  max-width: 640px;
}

.text-color-green-dark {
  color: var(--green-dark);
}

.text-color-black-opacity-60 {
  color: var(--black-opacity-60);
}

.max-width-360 {
  max-width: 360px;
}

.margin-bottom-16-mobile-12 {
  margin-bottom: 16px;
}

.two-blocks-grid {
  grid-template-rows: auto;
}

.illustration-and-text-block {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-radius: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 56px;
  display: flex;
}

.illustration-and-text-block.green-dark {
  background-color: var(--green-dark);
}

.illustration-and-text-block.green-light-2 {
  background-color: var(--green-light-2);
}

.illustration-and-text-block.blue-dark {
  background-color: var(--blue-dark);
}

.illustration-and-text-block.blue-light-2 {
  background-color: var(--blue-light-2);
}

.big-banner {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 64px 56px;
  display: flex;
}

.big-banner.black {
  background-color: var(--black);
}

.big-banner.white {
  background-color: var(--white);
}

.big-banner.white-opacity-8 {
  background-color: var(--white-opacity-8);
}

.big-banner-content {
  max-width: 480px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.big-banner-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 18px;
  display: flex;
}

.big-banner-icon.white {
  background-color: var(--white);
}

.big-banner-icon.green-dark {
  background-color: var(--green-dark);
}

.big-banner-icon.blue-dark {
  background-color: var(--blue-dark);
}

.icon-size-24-mobile-20 {
  width: 24px;
  height: 24px;
}

.margin-bottom-24-mobile-16 {
  margin-bottom: 24px;
}

.big-banner-illustration {
  width: 296px;
  height: auto;
}

.illustation-in-block {
  width: 100%;
  height: auto;
}

.max-width-480-tablet-400-mobile-320 {
  max-width: 480px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.big-logos-banner {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-color: var(--white);
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 56px;
  display: flex;
}

.logos-grid {
  width: 100%;
  border-top: 1px solid rgba(36, 98, 65, .1);
  border-bottom: 1px solid rgba(36, 98, 65, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logos-grid-logo-wrapper {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  transition: transform .2s cubic-bezier(.445, .05, .55, .95);
  display: flex;
}

.logos-grid-logo-wrapper:hover, .logos-grid-logo-wrapper:focus {
  transform: scale(.97);
}

.logos-grid-logo {
  width: 160px;
  height: auto;
}

.text-color-yellow-dark {
  color: var(--yellow-dark);
}

.icon-and-text-block {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  border-radius: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 56px 64px;
  display: flex;
}

.icon-and-text-block.white {
  background-color: var(--white);
}

.icon-and-text-block.white-opacity-8 {
  background-color: var(--white-opacity-8);
}

.icon-in-block {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
}

.icon-in-block.yellow-dark {
  background-color: var(--yellow-dark);
}

.icon-in-block.accent-opacity-12 {
  background-color: var(--accent-opacity-12);
}

.icon-size-28-mobile-24 {
  width: 28px;
  height: 28px;
}

.max-width-240 {
  max-width: 240px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.bg-color-yellow-light {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-light);
  opacity: 0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-color-blue-light-1 {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--blue-light-1);
  opacity: 0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bg-color-green-light-1 {
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--green-light-1);
  opacity: 0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-color-blue-dark {
  color: var(--blue-dark);
}

.text-color-white-opacity-60 {
  color: var(--white-opacity-60);
}

.testimonials-columns-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  display: flex;
}

.testimonial-column {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  flex: 1;
  display: flex;
}

.testimonial {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--white-opacity-8);
  border-radius: 40px;
  flex-direction: column;
  padding: 48px 40px;
  display: flex;
}

.testimonial-person {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.testimonial-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonial-avatar.green-light-1 {
  background-color: var(--green-light-1);
}

.testimonial-avatar.yellow-light-3 {
  background-color: #fff4c2;
}

.testimonial-avatar.blue-light-1 {
  background-color: var(--blue-light-1);
}

.testimonial-avatar.red-light {
  background-color: #e7b9b9;
}

.testimonial-person-info {
  flex: 1;
}

.semibold-l {
  letter-spacing: -.18px;
  font-weight: 600;
}

.regular-s {
  letter-spacing: -.07px;
  font-size: 14px;
  line-height: 144%;
}

.text-color-white-opacity-40 {
  color: var(--white-opacity-40);
}

.position-relative {
  position: relative;
}

.black-linear {
  z-index: 1;
  height: 520px;
  pointer-events: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .85));
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.value-block {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--white-opacity-8);
  border-radius: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 56px 64px;
  display: flex;
}

.value-content {
  width: 100%;
  border-bottom: 1px solid var(--white-opacity-8);
  padding-bottom: 32px;
}

.large-heading {
  letter-spacing: -1.28px;
  font-size: 80px;
  font-weight: 600;
  line-height: 104%;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.accordions-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

.accordion-item {
  border: 1px solid var(--white-opacity-12);
  background-color: var(--white-opacity-8);
  cursor: pointer;
  border-radius: 24px;
  padding: 28px 40px;
  transition: background-color .2s cubic-bezier(.445, .05, .55, .95);
}

.accordion-item:hover, .accordion-item:focus {
  background-color: rgba(255, 255, 255, .1);
}

.accordion-item-trigger {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.max-width-720 {
  max-width: 720px;
}

.accordion-item-icon {
  width: 44px;
  height: 44px;
  background-color: var(--accent);
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 14px;
  display: flex;
}

.icon-size-16 {
  width: 16px;
  height: 16px;
}

.accordion-item-content {
  padding-right: 64px;
  overflow: hidden;
}

.contact-block {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--black);
  border-radius: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 56px 64px;
  transition: background-color .25s cubic-bezier(.445, .05, .55, .95);
  display: flex;
}

.contact-block:hover, .contact-block:focus {
  background-color: var(--white-opacity-8);
}

.icon-size-48 {
  width: 48px;
  height: 48px;
}

.form-content-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: var(--white);
  border-radius: 40px;
  flex-direction: column;
  padding: 56px 56px 64px;
  display: flex;
}

.max-width-400 {
  max-width: 400px;
}

.form-block {
  margin-bottom: 0;
}

.input {
  height: 58px;
  border: 1px solid var(--black-opacity-20);
  background-color: var(--white);
  color: var(--black);
  border-radius: 12px;
  margin-bottom: 16px;
  padding: 16px 24px;
  transition: border-color .2s cubic-bezier(.445, .05, .55, .95), color .2s cubic-bezier(.445, .05, .55, .95);
}

.input:hover {
  border-color: var(--black-opacity-60);
}

.input:active, .input:focus {
  border-color: var(--black);
}

.input::-ms-input-placeholder {
  color: var(--black-opacity-50);
}

.input::placeholder {
  color: var(--black-opacity-50);
}

.input.last {
  margin-bottom: 24px;
}

.success-message {
  background-color: var(--green-light-2);
  border-radius: 32px;
  padding: 0;
  overflow: hidden;
}

.success-message-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  display: flex;
}

.success-message-icon {
  width: 56px;
  height: 56px;
  background-color: var(--accent);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 16px;
  display: flex;
}

.icon-size-24 {
  width: 24px;
  height: 24px;
}

.semibold-xl {
  letter-spacing: -.32px;
  font-size: 32px;
  font-weight: 600;
  line-height: 104%;
}

.max-width-272 {
  max-width: 272px;
}

.error-message {
  background-color: #e7b9b9;
  border-radius: 12px;
  margin-top: 24px;
  padding: 16px 24px;
}

.form-image {
  background-image: url('../images/3375366.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}

.footer {
  padding-top: 104px;
  padding-bottom: 64px;
}

.footer-content-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  display: flex;
}

.footer-content {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-bottom: 1px solid var(--white-opacity-12);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  display: flex;
}

.footer-logo {
  width: 108px;
  height: auto;
}

.footer-socials-wrapper {
  align-items: center;
  display: flex;
}

.footer-social {
  opacity: .6;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: opacity .2s cubic-bezier(.445, .05, .55, .95);
  display: flex;
}

.footer-social:hover, .footer-social:focus {
  opacity: 1;
}

.icon-size-20 {
  width: 20px;
  height: 20px;
}

.footer-legal {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu-button.open, .menu-button.close {
  display: none;
}

.button-menu-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu-socials-wrapper {
  align-items: center;
  display: flex;
}

.hamburger-menu-social {
  opacity: .6;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: opacity .2s cubic-bezier(.445, .05, .55, .95);
  display: flex;
}

.hamburger-menu-social:hover, .hamburger-menu-social:focus {
  opacity: 1;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

._404-content-wrapper {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
}

._404-content {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

._404-illustration {
  width: 570px;
  height: auto;
}

.internal-hero-wrapper {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 144px;
  padding-bottom: 144px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

@media screen and (min-width: 1920px) {
  .hero-illustration-2 {
    width: 320px;
    bottom: -178px;
    right: -248px;
  }

  .hero-illustration-1 {
    width: 320px;
    bottom: -160px;
    left: -248px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    letter-spacing: -.832px;
    font-size: 52px;
  }

  h3 {
    letter-spacing: -.768px;
    font-size: 48px;
  }

  h4 {
    letter-spacing: -.64px;
    font-size: 40px;
  }

  h5 {
    letter-spacing: -.45px;
    font-size: 28px;
  }

  .section.hero {
    height: auto;
    min-height: auto;
  }

  .container {
    padding-left: 48px;
    padding-right: 48px;
  }

  .container.hero {
    flex: 0 auto;
    padding-bottom: 96px;
  }

  .nav-menu-wrapper {
    display: none;
  }

  .hero-content-wrapper {
    flex: 0 auto;
    margin-top: 144px;
    margin-bottom: 104px;
  }

  .max-width-752-tablet-560 {
    max-width: 560px;
  }

  .max-width-752-tablet-400 {
    max-width: 400px;
  }

  .hero-illustration-2 {
    display: none;
  }

  .hero-illustration-1 {
    width: 360px;
    margin-top: 72px;
    position: static;
  }

  .section-heading {
    padding: 80px 64px;
  }

  .max-width-640-tablet-520-mobile-320 {
    max-width: 520px;
  }

  .two-blocks-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .two-blocks-grid.tablet-two {
    grid-template-columns: 1fr 1fr;
  }

  .big-banner {
    flex-direction: column;
    align-items: flex-start;
  }

  .big-banner-content {
    max-width: 400px;
  }

  .big-banner-illustration, .illustation-in-block {
    width: 420px;
  }

  .max-width-480-tablet-400-mobile-320 {
    max-width: 400px;
  }

  .logos-grid-logo {
    width: 128px;
  }

  .four-blocks-grid {
    grid-template-columns: 1fr;
  }

  .four-blocks-grid.tablet-two {
    grid-template-columns: 1fr 1fr;
  }

  .large-heading {
    letter-spacing: -1.024px;
    font-size: 64px;
  }

  .contact-block {
    padding-left: 40px;
    padding-right: 40px;
  }

  .semibold-xl {
    letter-spacing: -.45px;
    font-size: 28px;
  }

  .form-image {
    height: 680px;
  }

  .footer {
    padding-top: 80px;
  }

  .menu-button {
    width: 44px;
    height: 44px;
    border: 1px solid var(--white-opacity-12);
    background-color: var(--white-opacity-8);
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 12px;
    display: flex;
  }

  .menu-button.open, .menu-button.close {
    display: flex;
  }

  .button-menu-wrapper {
    align-items: center;
  }

  .hamburger-menu {
    z-index: 1000;
    grid-column-gap: 104px;
    grid-row-gap: 104px;
    background-color: var(--black);
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 48px 40px;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: scroll;
  }

  .hamburger-menu-nav {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .hamburger-menu-content {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: scroll;
  }

  .hamburger-menu-items-wrapper {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
  }

  .hamburger-menu-item {
    border: 1px solid var(--white-opacity-12);
    background-color: var(--white-opacity-8);
    letter-spacing: -.22px;
    border-radius: 100px;
    padding: 20px 48px 24px;
    font-size: 44px;
    font-weight: 600;
    line-height: 144%;
    transition: background-color .2s cubic-bezier(.445, .05, .55, .95);
  }

  .hamburger-menu-item:hover, .hamburger-menu-item:focus {
    background-color: var(--white-opacity-12);
  }

  .hamburger-menu-social {
    padding: 16px;
  }

  .icon-size-28-mobile-20 {
    width: 28px;
    height: 28px;
  }

  .max-width-tablet-600-mobile-400 {
    max-width: 600px;
  }

  .internal-hero-wrapper {
    flex: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    letter-spacing: -.48px;
    font-size: 30px;
  }

  h3 {
    letter-spacing: -.448px;
    font-size: 28px;
  }

  h4 {
    letter-spacing: -.38px;
    font-size: 24px;
  }

  h5 {
    letter-spacing: -.384px;
    font-size: 24px;
  }

  .section._404 {
    min-height: 600px;
    padding-bottom: 24px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero-content-wrapper {
    margin-top: 120px;
    margin-bottom: 80px;
  }

  .hero-buttons-wrapper {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .hero-illustration-1 {
    width: 100%;
    max-width: 320px;
    margin-top: 48px;
  }

  .container-small {
    padding-left: 24px;
    padding-right: 24px;
  }

  .section-heading {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border-radius: 28px;
    padding: 56px 24px;
  }

  .max-width-640-tablet-520-mobile-320 {
    max-width: 320px;
  }

  .margin-bottom-16-mobile-12 {
    margin-bottom: 12px;
  }

  .two-blocks-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .two-blocks-grid.tablet-two {
    grid-template-columns: 1fr;
  }

  .illustration-and-text-block {
    border-radius: 28px;
    padding: 40px 24px;
  }

  .big-banner {
    border-radius: 28px;
    padding: 41px 24px;
  }

  .big-banner-content {
    max-width: 320px;
  }

  .big-banner-icon {
    width: 52px;
    height: 52px;
    padding: 16px;
  }

  .icon-size-24-mobile-20 {
    width: 20px;
    height: 20px;
  }

  .max-width-mobile-240 {
    max-width: 240px;
  }

  .margin-bottom-24-mobile-16 {
    margin-bottom: 16px;
  }

  .max-width-480-tablet-400-mobile-320 {
    max-width: 320px;
  }

  .big-logos-banner {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    border-radius: 28px;
    padding: 40px 24px;
  }

  .logos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .four-blocks-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .four-blocks-grid.tablet-two {
    grid-template-columns: 1fr;
  }

  .icon-and-text-block {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    border-radius: 28px;
    padding: 32px 24px 40px;
  }

  .icon-in-block {
    width: 60px;
    height: 60px;
    padding: 18px;
  }

  .icon-size-28-mobile-24 {
    width: 24px;
    height: 24px;
  }

  .max-width-440 {
    max-width: 440px;
  }

  .testimonials-columns-wrapper, .testimonial-column {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .testimonial-column.second {
    display: none;
  }

  .testimonial {
    border-radius: 28px;
    padding: 32px 24px;
  }

  .black-linear {
    height: 280px;
  }

  .value-block {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    border-radius: 28px;
    padding: 32px 24px 40px;
  }

  .large-heading {
    letter-spacing: -.704px;
    font-size: 44px;
  }

  .accordions-wrapper {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .accordion-item {
    border-radius: 16px;
    padding: 20px 24px;
  }

  .accordion-item-trigger {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .accordion-item-content {
    padding-right: 0;
  }

  .contact-block {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-radius: 28px;
    padding: 32px 24px;
  }

  .form-content-wrapper {
    border-radius: 28px;
    padding: 32px 24px 40px;
  }

  .success-message {
    border-radius: 24px;
  }

  .semibold-xl {
    letter-spacing: -.384px;
    font-size: 24px;
  }

  .form-image {
    height: 480px;
    border-radius: 28px;
  }

  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .footer-content, .footer-legal {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .hamburger-menu {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    display: none;
  }

  .hamburger-menu-items-wrapper {
    max-width: 520px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .hamburger-menu-item {
    letter-spacing: -.12px;
    padding: 14px 28px 16px;
    font-size: 24px;
  }

  .hamburger-menu-social {
    padding: 12px;
  }

  .icon-size-28-mobile-20 {
    width: 20px;
    height: 20px;
  }

  .max-width-tablet-600-mobile-400 {
    max-width: 400px;
  }

  ._404-content-wrapper {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  ._404-illustration {
    width: 345px;
  }

  .internal-hero-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    text-align: center;
  }

  .button.small.secondary.mobile-portrait-hidden {
    display: none;
  }

  .hero-buttons-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .logos-grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
  }

  ._404-illustration {
    width: 100%;
  }
}

#w-node-_1a1e278b-851a-0158-98a2-9374a64a89dc-ef9ade48, #w-node-d2bab7f6-1b99-b2f8-893e-cbf27082ee5c-ef9ade48 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0a28a694-9928-f085-75a6-f07555616582-ef9ade48, #w-node-bf5cf906-b4aa-6043-72ff-6834dd3ae5f5-ef9ade48, #w-node-_37c8d510-e5c8-388d-7ea3-ad2e8d4dfeab-ef9ade48, #w-node-_7e618653-5db9-a33d-d83d-23019ca82032-ef9ade48 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_23411bdd-c2c8-4362-099d-7aa99240dd49-ef9ade48, #w-node-_9b8d0909-95d7-55fe-6dc9-1d322c4c52eb-ef9ade48, #w-node-ac226342-7d5e-9dc2-139b-1ad6af16261e-ef9ade48, #w-node-_42b6fa44-3838-c04e-da60-3f979a34085a-ef9ade48, #w-node-_824c1e36-6165-5ec7-485f-67f367291e0a-ef9ade48, #w-node-_824c1e36-6165-5ec7-485f-67f367291e11-ef9ade48, #w-node-_133735e5-fca4-3a09-b651-44e4a166f8e2-ef9ade48, #w-node-_4f9150f2-845a-4d3f-a5ab-4b12e87efe95-ef9ade48, #w-node-b2c9d7a4-9d4c-b303-d4dd-d9aa1193d8d5-ef9ade48, #w-node-_60827874-f7e9-8012-95e3-fac5b5880ddc-ef9ade48, #w-node-b70bd833-e217-7288-ac96-bbc3487eac63-ef9ade48, #w-node-_7af92fb4-989e-9bbd-1fd3-28472a16d397-ef9ade48, #w-node-cf3310f1-53ec-1352-9678-9b4ff5a5a046-ef9ade48, #w-node-f5e84e0f-b12f-36f2-2f52-ac4e499e9216-ef9ade48, #w-node-aab7406b-f13a-a56e-64bc-6827799140f1-dd433ceb, #w-node-a9d8bfe6-c8ae-ad02-4743-329e3bc4ec14-dd433ceb, #w-node-_3691bb9f-d116-4d31-2c2e-8cf1ff36c88c-dd433ceb, #w-node-_360a0b4e-c101-3962-1d00-374bdc3f8957-dd433ceb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Clashdisplay';
  src: url('../fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}